.square-container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
  flex-wrap: wrap;
  height: 150px;
}

.square {
  position: relative;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.mole {
  position: absolute;
  z-index: 1;
  height: 70px;
  bottom: 0;
  padding-bottom: 10px;
  transform:  translateX((-50%));
  animation: appear 0.3s linear;
  pointer-events: none;
}

@keyframes appear {
  from {
    bottom: -40px;
  }
  to {
    bottom: 0;
  }
}