.square-container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
  flex-wrap: wrap;
  height: 150px;
}

.square {
  position: relative; 
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

img {
  border-radius: 10px;
}