<h1>Whack-a-mole</h1>
<div class="wrapper">
  <div class="time">
     <span>Time Remaining: </span>
     <span>{{_passInfoService.state.countdownTimer}}</span>
  </div>
  <div class="points">
    <span>Points: </span>
    <span>{{_passInfoService.state.points}}</span>
  </div>
  <button class="startBtn" 
  [disabled]="_passInfoService.state.clicked"
  (click)="_passInfoService.countdownTimer(); 
    _passInfoService.state.clicked = true; 
    moleUp()
    ">Start Game
  </button>
</div>
<span class="gameOver">{{_passInfoService.state.gameOver}}</span>